@model Dominio.Proteina

<h2>Foram encontradas @Model.AreasDeContato.Count() áreas de contato para a proteína: @Model.Codigo</h2>

<br />
<p>
	@Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default btn-cons" })
</p>
